<h1>Data Science Tools and Ecosystem</h1>

**Objectives:**
<ul>
<li>List popular languages for Data Science</li>
<li>List commonly used libraries used by data scientists</li>
<li>List various data science tools</li>
<li>Evaluating arithmetic operations</li>
<li>Converting hours to minutes</li>
</ul>

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
<ol>
<li>GO</li>
<li>MATLAB</li>
<li>SAS</li>
</ol>

Some of the commonly used libraries used by Data Scientists include: 
<ol>
<li>Pandas</li>
<li>Numpy</li>
<li>Scipy</li>
</ol>

| Data Science Tools |
| ------------------ |
| Python |
| R |
| Jupyter |

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [1]:
#his a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

<h2>Author</h2>
Amish Mishra